    body {
        margin: 0;
        background-color: #ffefac;
        background-repeat: repeat;
        background-size: contain;
    }
    /** header**/

    header {
        position: fixed;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65)0%, rgba(0, 0, 0, 0) 100%);
        width: 100vw;
    }

    header h1 {
        background-color: transparent;
    }

    header nav {
        font-family: 'helvetica neue regular', sans-serif;
        text-align: right;
        margin: 0 0 0 0;
        background-color: transparent;
        font-size: 1.5em;
    }

    header nav a {
        text-decoration: none;
        color: white;
        padding-left: 4px;
        display: block;
        background-color: transparent;
    }

    header nav a:hover {
        color: black;
    }

    @media screen and (min-width: 676px) {
        header nav a {
            display: inline-block;
        }
    }

    .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    /** splash **/

    #splash {
        width: 100vw;
        height: 167vw;
        /* vi skal finde højden, så det ikke bliver skåret af: 627H/375B*100(den nye bredde)=167vw */
        background-image: url(splash/mobile_portrait.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @media screen and (min-width: 376px) and (orientation: portrait) {
        #splash {
            background-image: url(splash/tablet-portrait.jpg);
            height: 133vw;
        }
    }

    @media screen and (min-width: 376px) and (max-width: 627px) and (orientation: landscape) {
        #splash {
            background-image: url(splash/mobile_landscape.jpg);
            height: 59vw;
        }
    }

    @media screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape) {
        #splash {
            background-image: url(splash/tablet_lanscape.jpg);
            height: 75vw;
        }
    }

    @media screen and (min-width: 1025px) and (orientation: landscape) {
        #splash {
            background-image: url(splash/desktop.jpg);
            height: 56vw;
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px),
    screen and (min-resolution: 192dpi) and (min-width: 1025px) {
        #splash {
            background-image: url(splash/desktop_retina.jpg);
            height: 56vw;
        }
    }
    /** om **/

    section#om {
        padding: 30px;
    }

    .column_first {}

    .column_second {}

    .column_content {}

    .content_om {}

    .content_smiley {}
    /** sortiment **/

    section#sortiment {}

    .column_first {}

    .column_second {}

    .column_content {}

    .content_om {}

    .content_smiley {}

    .content_flaske {}

    .content_fad {}
